body {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	color: black;
}
a{
	text-decoration: none;
}
a:link, a:visited{
	color: inherit;
}
a:hover{
	color: #FF8B01;
}
img{
	display: block;
	width:100px;
	float: left;
	padding-right: 10px;
}
span{
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
}
#msg {
	margin-bottom:5px;
}
#sender , #title{
	font-size:.8em;
}
#sender{
	font-weight:bold;
}
