body {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size:75%;
}
#navblock {
	display:block;
	position:fixed;
	left:0;
	top:0;
	width:155px;
	padding-left:20px;
	padding-top:18px;
}
#pageblock {
	position:absolute;
	padding-left:60px;
	margin-left:155px;
	top:0;
	left:0;
}
#extname {
	display:inline-block;
	font-size:1.5em;
	color:#5c6166;
}
.radiocont{
	display:block;
	margin-top:10px;
	margin-left:20px;
}
.radiocont input[type="radio"]{
	margin-right:10px;
}
.radiocont label{
	display:block;
	margin-bottom:5px;
}
header {
	padding-top:6px;
	border-bottom:1px solid #eee;
}
h1 {
	font-weight:normal;
	font-size:1.5em;
	color:#303942;
}
h2 {
	font-weight:normal;
	font-size:14px;
	color:#303942;
}
ul {
	list-style-type:none;
}
ul li {
	display:block;
	margin-bottom:5px;
}
label{
	display:inline-block;
	width:260px;
}
